<style>
    #cokeRun_CAPTCHA { width: 361px; height: 161px; background-image: url('images/ColaPodium_overlay.png'); cursor: pointer; position: relative; overflow: hidden; }
	.cokeCan { width: 41px; height: 76px; float: left; position: absolute; }
	#cokeCan_Red { background-image: url('images/ColaCan__0000_Red.png'); top: 55px; left: -70px; }
	#cokeCan_Silver { background-image: url('images/ColaCan__0001_Silver.png'); top: 48px; left: -50px; }
	#cokeCan_Bronze { background-image: url('images/ColaCan__0002_Bronze.png'); top: 41px; left: 0px; }
	#cokeCan_Gold { background-image: url('images/ColaCan__0003_Gold.png'); top: 34px; left: -20px; }
	#droppable { width: 100%; height: 100%; float: left; }
</style>

<form id="CAPTCHA_Form" action="signed_up" method="post">
	<input name="clicks" id="CAPTCHA_Clicks" type="hidden" value="0" />
    <div class="panel" style="background-image: url('images/sprite_signup.png'); width: 962px; height: 452px;">
        <div style="width: 303px; height: 75px; background-image: url('images/email.png'); position: absolute; left: 350px; top: 260px">
          	<input type="text" class="eleven" placeholder="john.doe@example.com" style="position: absolute; top: 34px; left: 8px; width: 288px;" />
        </div>
        <div class="captcha" style="position: absolute; left: 320px; top: 350px">
			<div id="cokeRun_CAPTCHA">
				<div id="cokeCan_Gold" class="cokeCan">&nbsp;</div>
				<div id="cokeCan_Bronze" class="cokeCan">&nbsp;</div>
				<div id="cokeCan_Silver" class="cokeCan">&nbsp;</div>
				<div id="cokeCan_Red" class="cokeCan">&nbsp;</div>

				<div id="droppable">
				</div>
			</div><!-- End demo -->
		</div>
	</div>
</form>