<!DOCTYPE html>
<html>
<head>
  <title>GamesCAPTCHA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!-- Included CSS Files -->
  <link rel="stylesheet" href="stylesheets/foundation.css">
  <link rel="stylesheet" href="stylesheets/app.css">

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="stylesheets/ie.css">
  <![endif]-->

  <script src="javascripts/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link type="text/css" href="css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="Stylesheet" />	
  
  <script type="text/javascript" src="js/jquery-ui-1.8.21.custom.min.js"></script>
  <script type="text/javascript" src="js/jquery.shuffle.js"></script>

  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 20px">

  <div class="row">
    <div class="eight columns">
      <img src="images/GamesCAPTCHA.png" />
      <%= yield %>
      <b>Why am I doing this?</b><br/>
      <p>Unfortunately, some people use automated programs for malicious purposes, so we want to make sure you are a real live person. Program's don't play like people do, so these games stump them. Have fun!</p>
    </div>
  </div>

  <!-- Included JS Files -->
  <script src="javascripts/jquery.reveal.js"></script>
  <script src="javascripts/jquery.orbit-1.4.0.js"></script>
  <script src="javascripts/jquery.customforms.js"></script>
  <script src="javascripts/jquery.placeholder.min.js"></script>
  <script src="javascripts/jquery.tooltips.js"></script>
  <script src="javascripts/app.js"></script>
  <script src="javascripts/captcha.js"></script>

</body>
</html>
